:root {

  color-scheme: light;


  /* Colours */
  --color-bg: light-dark(#fff, #303030);
  --color-ink: light-dark(#000000, #000000);
  --color-cream: light-dark(#FFFAE2, #FFFAE2);
  --surface-accent: light-dark(#72C184, #365A3E);
  --surface-accent-soft: light-dark(#B9DDC2, #5B9A69);
  --surface-panel: light-dark(#E6F9EA, #8EAB95);
  --surface-card: light-dark(#E6F9EA, #8EAB95);
  --surface-highlight: light-dark(#FCEB94, #C3AF47);
  --surface-warning: light-dark(#FFD500, #C6A500);
  --surface-base: light-dark(#FFFFFF, #303030);
  --text-muted: light-dark(#99958F);



  /* page background */

  /* Logotype */
  --font-logotype-size: 1rem;


  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;

  /* Fonts */
  --font-family-sans: rubik;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;
}

:root.dark {
  color-scheme: dark;
}