#webform {
  background-color: var(--surface-panel);
}



#form-section,
#form-summary {
  background-color: var(--surface-panel);
  padding: 0;
}

#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--surface-accent);
  padding-top: 5px;
  margin-bottom: 1rem;
}

#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#form-summary>*:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}

#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

.summary-label {
  background-color: var(--surface-accent-soft);
  font-weight: 700;
  font-size: 1rem;
  border: 0px solid #ccc;
  padding: .25rlh .7rlh;
  border-radius: 0;
  box-shadow: 0px 0px 0px;
}

#form-info {
  background-color: var(--surface-panel);
}


/* FORMS STYLING */

/* CSS Starter er tilføjet */
/* Generelle styles */
#register main {
  font-size: 12px;
}

/*FONTS*/
#register main h2 {
  color: var(--color-cream);
  font-size: 3rem;
  display: flex;
  flex: 1;
  background-color: var(--surface-accent);
  justify-content: center;

}

#register main h3 {
  font-size: 2.6666rem;
  max-width: 40ch;
}

#register main h4 {
  font-size: 1.5rem;
  max-width: 50ch;
}

#register main input {
  font-family: rubik;
  border: 0px solid #ccc;
  font-size: 1.33rem;
  padding: .25rlh .7rlh;
  border-radius: 0;
  box-shadow: 0px 0px 0px;
  background-color: var(--surface-accent-soft);
}

#register main button {
  border: 0px solid #000;
  background-color: var(--surface-accent);
  color: var(--color-cream);
  border-radius: 0px;
  padding: .25rlh .5rlh;
  cursor: pointer;
  display: flex;
  justify-self: end;
  font-size: 2.66666rem;
  font-weight: bold;
}

#register main .error-message {
  color: darkred;
}

/* Form layout */
#register main form {
  display: grid;
  gap: 1rlh;
  padding: 5px;
}

#register main .form-group {
  display: grid;
  gap: 0.1rlh;
}

#register main .form-row {
  display: flex;
  gap: 1rlh;
}

#register main .form-group {
  flex: 1;
}

#register main label:has(input) {
  display: flex;
  align-items: center;
  gap: 0.25rlh;
  justify-self: start;
  font-weight: normal;
  font-size: 1.33rem;

}

#register main label {
  font-weight: 700;
  font-size: 1rem;
}

#register main legend {
  font-weight: 700;
  font-size: 1rem;
}

/* Pseudo-classes */
#register main :focus-visible {
  /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 3px solid #DBE2F5;
  outline-offset: 3px;

}

#register main button::after {
  content: "→";
  color: var(--color-cream);
  font-weight: 500;
  padding-left: 3.5rem;
}

/* Hover-styles */
#register main button:hover {
  background: var(--surface-accent-soft);
  transition: .6s;
}

/* Active-styles (imens man klikker) */
#register main button:active {
  scale: .98;
}

/* Valideringsregler */
/* Skjul fejlmeddelelsen som standard */
#register main .error-message {
  display: none;
}

#register main .form-group:has(:required) {
  label::after {
    content: " *";
    color: black;
  }

}

#register main fieldset:has(input:required) {
  legend::after {
    content: " *";
    color: red;
    margin-left: 0.25rem;
  }
}

/* Tilføj rød kant omkring input-feltet, hvis det er ugyldigt */
#register main .form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }

  /* Vis fejlmeddelelsen, hvis feltet er ugyldigt */
  .error-message {
    display: block;
    font-size: 1.rem;
  }
}


#klatre {
  accent-color: pink;
}
